body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Logo styling */
.logo{
  margin-left:-19rem;
  margin-top: 1rem;
  margin-left:0.97rem;
}
/* Navigation links styling */
.nav-sec{
  display: flex;
  justify-content: space-evenly;
  font-family: 'DM Sans', sans-serif;
  font-weight: 200;
  gap: 20px; 
  background: transparent;
  margin-bottom: 2rem;
}

/* Header styling */
.header-sec{
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
  background-color: transparent;
}

/* Hero section styling */
.hero-sec{
  background-image: url('https://res.cloudinary.com/dyl3rncv3/image/upload/v1679910469/elewa-group-website/hero-Images/pexels-bg-edit_bb4znx.jpg');
  background-size: cover;
  width: 1366px;
  height: 528px;
 top: -20px;
}
.hero-info{
  padding-top: 4rem;
  padding-left: 6rem;  
  width: 50%;
}
.hero-info h1{
  font-family: 'DM Sans', sans-serif;
  font-size:44px;
  font-weight: 500;
  color: white;
}

.hero-info p{
  font-family: 'DM Sans', sans-serif;
  font-size: 21px;
  font-weight: 200;
  color: white;
}