body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Logo styling */
.logo{
  margin-left:-19rem;
  margin-top: 1rem;
  margin-left:0.97rem;
}
/* Navigation links styling */
.nav-sec{
  display: flex;
  justify-content: space-evenly;
  font-family: 'DM Sans', sans-serif;
  font-weight: 200;
  gap: 20px; 
  background: transparent;
  margin-bottom: 2rem;
}