@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Logo styling */
.logo{
  margin-left:4.6rem;
  margin-top: 1rem;
}

/* Navigation links styling */
.nav-sec{
  display: flex;
  justify-content: space-evenly;
  font-family: 'DM Sans', sans-serif;
  font-weight: 200;
  gap: 20px; 
  background: transparent;
  margin-bottom: 2rem;
  color: #ffffff;
  cursor: pointer;
  
}
.nav-sec p {
  color: #ffffff;
}

/* Header styling */
.header-sec{
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-right: 0.44rem;
  background-color: black;
}

/* Hero section styling */
.hero-sec img {
  width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-mid{
  width: 100%;
  height: 70vh;
  position: relative;
}

.hero-mid h1{
  padding-top: 4rem ;
}
.hero-info{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding-left: 8rem;
}

.hero-info h1{
  font-size: 3rem;
  font-weight: 300;
  background: transparent;
  color: white;
  font-family:'Poppins',sans-serif;
  max-width: 75%;
}

.hero-info p{
  font-family: 'DM Sans',sans-serif;
  font-size: 1.3rem;
  color: white;
  padding-bottom: 0.1rem;
  font-weight: 200;
}



/* Content cards styling */
.overview-content1 {
  background-color: black;
  align-items: center;
  justify-items: auto;
  display: flex;
  padding: 5%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.overview-img {
  background-color: black;
  max-width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ov-img {
  max-width: 75%;
  background-color: black;
  border-radius: 1.2rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  box-sizing: border-box;
}
.overview-desc1 {
  background-color: black;
  margin-left: 2rem;
  font-family: 'DM Sans', sans-serif;
  
}
.overview-desc1 h4 {
  font-size: 22.7px;
  font-weight: 600;
  padding: 10px;
  padding-left: 2rem;
  margin-bottom: 0.5rem;
  text-align: left;
  color: white;
}
.overview-desc1 p {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  margin-left: 2rem;
  font-family: 'DM Sans', sans-serif;
  color: white;
}

/* Content 2 styling */
.overview-content2 {
  background-color: #f4f4f4;
  align-items: center;
  justify-items: auto;
  display: flex;
  padding: 5%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* Content3 styling */
.overview-content3 {
  background-color: white;
  align-items: center;
  justify-items: auto;
  display: flex;
  padding: 5%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* Content 5 styling */
.overview-content5 {
  display: block; 
  align-items: center;
  align-content: center;
}
.overview-content5 span p {
  font-size: 44px;
  font-weight: 200;
  padding-left: 20px;
  text-align: center;
}

/* Footer styling */
.footer-sec {
  padding: 48px 8px 0px 8px;
  background-color: #000000;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.footer-item-sec {
  display: flex;
  align-content: center;
  justify-content: space-between;
  color: #ffffff;
  background-color: #000000;
 
  padding: 44px;
  
}
.links {
  display: block;
}

/* Key Figures styling */
.figures-sec p {
  text-align: center;
  font-size: 30px;
}
.figures-grid-sec {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  padding: 20px;
  margin-top: 30px;
}
.figure-slot {
  padding: 10px;
  text-align: center;
  border: #000000 solid 0.05px;
  border-radius: 15px;
}
/* We care styling */
.care-section-1 {
  margin: auto;
}
.care-section-1 h2 {
  text-align: left;
  font-weight: 600;
  padding-left: 10px;
  font-size: 30px;
}
.care-details {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 10px;
}
.care-details p {
  text-align: left;
  font-size: 24px;
}

/* Culture styling */
.culture-sec {
  padding: auto;
  align-content: center;
}
.culture-sec h2 {
  font-size: 44px;
  text-align: left;
}
.culture-sec p {
  font-size: 24px;
  display: block;
  max-width: 50%;
}
.culture-details {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  
}
.culture-slot {
  padding: 10px;
  text-align: center;
  border: #000000 solid 0.005px;
  
}